html {
  width: 400px;
  height: auto;
}

div.tab {
  padding: 10px;
}

div.tab.active {
  background: #eee;
}

div.tab a.active {
  font-weight: bold;
}

div.tab:hover {
  background: #eee;
}

div.tab:hover a {
  font-weight: bold;
}

li {
  list-style-type: none;
}
